<?xml version="1.0"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>yatdg</display-name>
	<description>Yet another tower-defense game</description>

	<listener>
		<display-name>GameContextListener</display-name>
		<listener-class>de.oglimmer.game.servlet.GameContextListener</listener-class>
	</listener>

	<servlet>
		<description>AtmosphereServlet</description>
		<servlet-name>AtmosphereServlet</servlet-name>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>org.atmosphere.cpr.packages</param-name>
			<param-value>de.oglimmer.game</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/srvcom/*</url-pattern>
	</servlet-mapping>

	<error-page>
    	<error-code>404</error-code>
    	<location>/redirect.jsp</location>
	</error-page>

</web-app>
